{:version      {:major 2
                :minor 2
                :patch 0}
 :version-type :semver3,
 :changes      {:added   ["`brewtility.units.alcohol-content` for converting and displaying alcohol content."
                          "`brewtility.units.bitterness` for rendering displayable IBU values."
                          "`brewtility.units.carbonation` for rendering displayable carbonation values."
                          "`brewtility.units.specific-gravity` now supports measurements in degrees plato."
                          "`brewtility.predicates.options` for option map keys shared across predicate namespaces."]
                :changed ["`brewtility.units` now supports a `:precision` option map key for all conversion functions. This key will round the converted value to the specified number of decimal places. Defaults to the precision of the converted value."
                          "`brewtility.units.color` now supports a reverse-lookup for known RGBa values."
                          "All functions in `brewtility.predicates` now support an option map as a second argument to make their arities consistent."]
                :removed ["`^:const` metadata has been removed from conversion maps"]}
 :timestamp    "2024-09-21T19:05:02.998079785Z"}
