{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Changelog" {:file "CHANGELOG.md"}]
                   ["Community" {}
                    ["Contributing" {:file "CONTRIBUTING.md"}]
                    ["Code of Conduct" {:file "CODE_OF_CONDUCT.md"}]
                    ["License" {:file "LICENSE.md"}]
                    ["Security Policy" {:file "SECURITY.md"}]]
                   ["Functionality" {}
                    ["Calculations" {:file "doc/api/calculations.md"}]
                    ["Precision" {:file "doc/api/precision.md"}]
                    ["Predicates" {:file "doc/api/predicates.md"}]
                    ["Units of Measure" {:file "doc/api/units.md"}]
                    ["Wrapping" {:file "doc/api/wrapping.md"}]]
                   ["Adopted Patterns" {}
                    ["Symbolic Keywords" {:file "doc/patterns/symbolic_keywords.md"}]]]}
